</div>
<div class="footer-padding"></div>
<div class="footer">
  <p>
    Nontas Pap
  </p>
  <a class="footer-link" href="https://github.com/NontasPapapadopoulos">GitHub</a>

</div>
</div>
</body>

</html>