<%- include("partials/header") -%>

    <h1>
        <%= title %>
    </h1>


    <div class="about">
        <p>
            Im electrical engineer and in my free time I like to study programming.
            My favourite languages are Java, C#, and Python.
            I have also familiarity with JavaScript, jQuery, MySQL, NodeJs, HTML, CSS, bootstrap and Git.
        </p>
        <p>
            My first programming project was a converter between two power flow calculators. The aim of this project is
            to
            convert the data from a txt file,
            in another form which is possible for the other program to understand. The result of the
            calculators should be equal.
        </p>
        <p>
            After my first program I started to learn Java, C# and front end technologies.

        </p>

        <p>Here is a list of my projects:
        <ul>
            <li><a href=" https://nontaspapapadopoulos.github.io/my-website/">Personal Website</a></li>
            <li><a href="https://limitless-earth-07767.herokuapp.com">Weather Application</a></li>
            <li><a href=" https://nontaspapapadopoulos.github.io/Simple-calculator">Math Calculator</a></li>
            <li>This blog</li>
        </ul>


        </p>
    </div>

    <%- include("partials/footer") -%>